cmgm/AutoUpdateCMGM*
cmgm/beta/
cmgm/secret-sql-login.txt
cmgm/database/uploads
cmgm/u/*.*
cmgm/secret-sql-login.hiddenpass
cmgm/includes/functions/id_list.txt
cmgm/secret-ip-whitelist-pass.hiddenpass
cmgm/maps_api_key.hiddenpass
cmgm/database/shh.php
