#Alternate default index pages
DirectoryIndex Home.php
DirectoryIndex index.php
LimitRequestBody 9999999999

<Files ~ "\.hiddenpass$">  
Order Allow,Deny
Deny from All
</Files>

RewriteEngine On

# Redirect with specific parameters
RewriteCond %{QUERY_STRING} (^|&)sv(&|$)
RewriteRule ^(\d+)$ /database/Edit.php?search=$1&sv [R=301,L]

RewriteCond %{QUERY_STRING} (^|&)ev(&|$)
RewriteRule ^(\d+)$ /database/Edit.php?search=$1&ev [R=301,L]

RewriteCond %{QUERY_STRING} (^|&)ph(&|$)
RewriteRule ^(\d+)$ /database/Edit.php?search=$1&ph [R=301,L]

# Default redirect if no specific parameter is given
RewriteRule ^(\d+)$ /database/Edit.php?search=$1 [R=301,L]

# Redirect cmgm.us/latest to latest record (figuring out latest is done by php tho)
RewriteRule ^latest$ /database/Edit.php?q=latest [R=301,L]