<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483648" />
			</requestFiltering>
		</security>
        <directoryBrowse enabled="true" />
        <defaultDocument enabled="true">
            <files>
                <add value="Home.php" />
            </files>
        </defaultDocument>
    </system.webServer>
	<system.web>
	    <customErrors mode="Off" />
        <compilation debug="true" />
	</system.web>
</configuration>