<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<security>
			<requestFiltering allowDoubleEscaping="true">
				<requestLimits maxAllowedContentLength="2147483648" />
			</requestFiltering>
		</security>
        <directoryBrowse enabled="true" />
        <defaultDocument enabled="true">
            <files>
                <remove value="Default.asp" />
                <remove value="index.htm" />
                <remove value="iisstart.htm" />
                <remove value="Default.htm" />
                <remove value="index.html" />
                <add value="Home.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Redirect all to upload" enabled="true" patternSyntax="ECMAScript">
                    <match url="\.(js|css|png)|(finishedFilename=.+)$" negate="true" />
                    <action type="Rewrite" url="/database/Upload.php" appendQueryString="true" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="upload.cmgm.us" />
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
	<system.web>
	    <customErrors mode="Off" />
        <compilation debug="true" />
	</system.web>
</configuration>