/* Submit & Locate button */
.submitbutton {
  border-radius: 15px;
  background: #444444fb;
  border: none;
  width: 48.5%;
  height: 69px;
}
/* Input textbox */
#txtresult {
  border-radius: 17px;
  background-color: #505050;
  border: 2px solid #505050;
  width: 90%; /* this should look gay as fuck take screenshot of it zack */
}
input {
  height: 102px;
  width: 96%;
  font-size: 1.8em!important;
}
p {
font-size: 2em;
margin-block-start: 0em;
margin-block-end: 0.3em;
}
body {
	font-display: swap;
	font-family: 'Regular', Fallback, sans-serif;
}
form {
margin-top: 3px !important;
margin: 0;
}
.footer {
  font-size: 1.5em;
  position: fixed;
  top: 96%;
  left: 56%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.buttons {
padding-top: 18px; 
}