.submitbutton {
  color: #000000;
  background-color: #4CAF50;
  width: 49%;
  max-width: auto;
  height: 107px;
}
input {
  height: 102px;
  width: 96%;
  font-size: 1.8em!important;
}
p {
font-size: 2em;
}
body {
	font-display: swap;
	font-family: 'Regular', Fallback, sans-serif;
}
form {
margin-top: 3px !important;
margin: 0;
}
.footer {
  font-size: 1.5em;
  position: fixed;
  top: 96%;
  left: 56%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}