#mapid { max-height: 96.9%; height: 100%; }
body {
margin:0;
padding:0;
}

.body::-webkit-scrollbar {
    display: none;
}

.leaflet-popup-content-wrapper, .leaflet-popup-content, iframe {
	 min-width: 300px!important;
	 }
.body::-webkit-scrollbar {
    display: none;
}

.leaflet-popup-content-wrapper, .leaflet-popup-content, iframe {
	min-height: 258px!important;
	max-width: 80px!important;
}
.leaflet-popup-content-wrapper {
    padding: 0%;
    text-align: left;
    border-radius: 5px;
		min-width: 310px;
}
.leaflet-popup-content {
		min-width: 180px!important;
		max-width: 180px!important;
		width: 180px!important;
    margin: 0px;
    line-height: 1.4;
}
.leaflet-popup-close-button {
	display: none;
}
