# hah no
*.hiddenpass

# misuse of github storage
cmgm/database/uploads
cmgm/u/*
cmgm/includes/functions/id_list.txt

# temp files
php/$error-log.log
*.ini
cmgm/favicon.gif
cmgm/favicon.ico
cmgm/includes/misc-functions/id_list.txt
cmgm/experiments/
Thumbs.db
