# hah no
*.hiddenpass

# misuse of github storage
cmgm/database/uploads

# temp files
php/$error-log.log
*.ini
cmgm/favicon.gif
cmgm/favicon.ico
cmgm/includes/misc-functions/id_list.txt
cmgm/experiments/
Thumbs.db

# WIPs not ready at all
cmgm/das/*

# Non-CMGM projects
cmgm/css-for-cm/
cmgm/metro/

# PHP builtin server compatibility
dev-router.php