<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <add value="Home.php" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
        <handlers>
            <add name="P_H_POOO" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\CMGM\php\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
