.sb {
  padding: 12px;
  font-size: 3em;
  -webkit-appearance: none;
  border-radius: 0;
}
.textbox {
  padding: 12px;
  font-size: 2.25em;
}
.buttons {
  margin:0 auto;
  text-align: center;
  width: 100%; max-width: 25cm;
}
@media (min-width: 950px) {
  .w-075 {width: 75%}
  .w-050 {width: 50%}
  .w-040 {width: 40%}
  .w-025 {width: 25%}
  .w-025-1 {width: 25%}
  .w-033 {width: 33.33333%}
  .w-035 {width: 35%}
  .w-037-5 {width: 37.5%}
  .w-040 {width: 40%}
  .w-020 {width: 20%}
  .w-100 {width: 100%}
}
@media (max-width: 950px) {
  [class*=w-] {width: 100%;max-width: 100%;}
}
input[type=text],input[type=number],input,option,select,.notes,.edit_history  {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}
