.submitbutton {
  padding: 12px;
  font-size: 3em;
}
.textbox {
  padding: 12px;
  font-size: 2.25em;
}
.buttons {
  margin:0 auto;
  text-align: center;
  width: 100%; max-width: 25cm;
}
@media (min-width: 670px) {
  .width-75 {width: 75%;max-width: 100%;}
  .width-50 {width: 50%;max-width: 100%;}
  .width-25 {width: 25%;max-width: 100%;}
  .width-33 {width: 33.33333%;max-width: 100%;}
  .width-100 {width: 100%;max-width: 100%}
}
@media (max-width: 669px) {
  .width-75 {width: 100%;max-width: 100%;}
  .width-50 {width: 100%;max-width: 100%;}
  .width-25 {width: 100%;max-width: 100%;}
  .width-100 {width: 100%;max-width: 100%}
}
