.flex {
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}
.textbox {
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}
::placeholder {
  text-align: center;
  font-size: 90%;
}
#tiauquote {
  font-size: 0.85em;
}
.prettyInfoDisplay_element {
  cursor: pointer; 
  margin-top: 4px;
}
.prettyInfoDisplay_element:hover {
  text-decoration: underline;
}
