.flex {
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}
.textbox {
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}
::placeholder {
  text-align: center;
  font-size: 90%;
}
