/* AMOLED Black ackground, white-ish text */
body {
  background-color: #000000;
  color: #EFEFEF;
}
/*  set border-style to solid, black, 1.5 pt width, #101010 color on buttons */
input[type=button] {
  border-style: solid;
  border-color: black;
  border-width: 1.5pt;
  background-color: #101010;
}
/* remove all but bottom border */ /* set background color for textboxes */
input[type=text] {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #1C1C1C;
}
/* remove white highlight when input selected */
input:focus {
    outline-width: 0;
}
/* CHANGE SETTING LINK TEXT TO WHITE */
#link12 {
  color: #FAFAFA!important;
}
/* link colors (WIP) */
a:link {color: #5695F6;}
a:visited {color: #5695F6;}
a:hover {color: #5695F6;}
a:active {color: #5695F6;}
