body {
  height:auto;
  margin:0;
  padding:0;
  font-size:1em!important;
}
table {
	border-collapse: collapse;
	border-spacing:0;
	padding:0;
}
td {
  width: auto;
  padding-right: 10px;
  padding-left: 6px;
  vertical-align: top;
  padding: 4px;
}
tr:nth-child(even) {
  background: #ededed;
}
.hide-underline {
	   text-decoration: none;
}
.bio {
  width: 30px!important;
}
