.footerlink {
 color: #babab8;
 font-size: 17px!important;
 padding-left: 5px;
}
.footer_link_first {
 padding-left: 20px!important;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3.1%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #dededc;
}
#footerContainer {
  background-color: #babab8;
}
