.footerlink {
 color: #babab8;
 font-size: 18px!important;
 padding-left: 19px;
 }
footer {
	border-top: 2px solid #a6a6a4;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5%;
  width: 100%;
  padding: 0px;
  padding-bottom: 6px;
  background-color: #dededc;
}
