.submitbutton {
  width: 35%;
  padding: 12px;
  font-size: 1.85em;
}
input,option,select {
  width: 35%;
  padding: 12px;
  font-size: 0.7em;
}
option,select {
  width: 35%;
  font-size: 0.9em;
  padding: 12px;
}
body {
  font-size: 1.4em;
}
.width-50 {
  width: 17.5%!important;
}
