/* Page */
body {
    margin: 0;
    padding: 20px;
}


/* Text inputs + selects flex */
.form input[type="text"],
.form input[type="number"],
.form select {
    padding: 0px 5px;
    font-size: 14px;
    box-sizing: border-box;
    display: inline-block;
}
/* Width constraints */
.form select[name="plmn"] {
    width: 6%;
}
.form select[name="rat"] {
    width: 4%;
}
.form select[name="viewMode"] {
    width: 7%;
}
.form input[name$="date"] {
    width: 5%;
}
.form input[name$="itude"] {
    width: 5%;
}
.form input[name*="cells"] {
    width: 5%;
}
.form input[name*="enb"] {
    width: 6%;
}
.form input[name*="tac"] {
    width: 6%;
}
.form input[name="score"] {
    width: 3.5%;
}
.form input[name="cellQuantity"] {
    width: 5.25%;
}
.form input[name="radius"] {
    width: 3.5%;
}
.form input[name="limit"] {
    width: 3.5%;
}
.form input[type="submit"], .form button {
    width: 3%;
}
/* Buttons are part of flex but do not grow */
.form input[type="submit"],
.form button {
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

/* Table styling (unchanged behavior) */
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 2px solid #000;
}

/* Links */
a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
label {
    display: none;
}