.leaflet-popup-content-wrapper {
  background: #000;
  border-top: 2px solid var(--accent-color)!important; /* add accent color to border */
  border-left: 2px solid var(--accent-color)!important; /* add accent color to border */
  border-right: 2px solid var(--accent-color)!important; /* add accent color to border */
  box-shadow: 0 0 6px var(--accent-color); /* add box-shadow*/
}
.leaflet-popup-tip {
  background: #000;

}
