body {
  height:auto;
  margin:0;
  padding:0;
  font-size:1em!important;
}
table {
	border-collapse: collapse;
	border-spacing:0;
	padding:0;
}
td {
  min-width: 60px;
  width: auto;
  max-width: auto;
  padding-right: 15px;
  padding-left: 8px;
  vertical-align: top;
  padding: 4px;
}
.top {
    font-size: 75%;
}
tr:nth-child(even) {
  background: #ededed;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.img {
  min-width: 30px!important;
}
.firstseen {
  min-width: 80px!important;
}
.address {
  min-width: 160px!important;
}
img {
  width: 30px;
  height: 30px;
}
