/* This hides the linkback table, legend table, bandwidths table, links under account table, and RSS link in the select provider box */
#linkback_table { display: none; } /* Hide linkback table */ /* USE YOUR URL BAR */
#legend { display: none; } /* Hide legend */
#bandwidths { display: none; } /* Hide bandwidths dropdown from general tab */
#locsearch {display: none;} /* Hide location search dropdown from general tab */
#lacs { display: none; } /* Hide Regions dropdown from general tab * */
#cellsearch { display: none; } /* Hide Cell Search */

/* Hide links under account table */
table[id*=accountTable] > tbody > tr:nth-child(3) > td {
    display: none;
}

/* Hide RSS link */
/* Allow tables to be moved */
.table-sm {position: relative;}

/* Move tables to cover up the RSS link */
div[id=tabs-1] > table[id=ads] ~ table    {
    top: -20px;
}
#text {display: none;}

[id*=approxAddr] {display: none;}

/* Hide stuff from Filters & Settings */
#filters > tbody > tr:nth-child(5),  /* Hide "Only Show Towers with Frequency Data" from filters dropdown */
#filters > tbody > tr:nth-child(6),  /* Hide "Only Show Towers without Frequency Data" from filters dropdown */
#filters > tbody > tr:nth-child(7),  /* Hide "Only Show Towers with Bandwidth Data" from filters dropdown */
#filters > tbody > tr:nth-child(10), /* Hide "Only Show LTE CA towers" from filters dropdown */
#filters > tbody > tr:nth-child(11), /* Hide "Only Show 5G ENDC capable towers" from filters dropdown */
#settings > tbody > tr:nth-child(6)  /* Hide "Show hex values" from settings dropdown */ {display: none;}
#filters > tbody > tr:nth-child(8) { background-color: #ecf0f1;}
#filters > tbody > tr:nth-child(9) { background-color: #fff;}

/* Hide 2G/3G from dropdowns */
div[id="NETSelect_chosen"] > div[class="chosen-drop"] > ul[class="chosen-results"] li:nth-last-child(3),
div[id="NETSelect_chosen"] > div[class="chosen-drop"] > ul[class="chosen-results"] li:nth-last-child(4),
div[id="NETSelect_chosen"] > div[class="chosen-drop"] > ul[class="chosen-results"] li:nth-last-child(5){
    display:none!important;
}

.detailsTableFreqBandBandName,.detailsTableFreqBandBlockName { display: none; }
