input, select, button {
	  padding: 8px;
	  font-size: 1rem;
	  border-radius: 3px;
}
body {
	  height: 100vh;
	  font-family: Arial, sans-serif;
}
.header {
	display: flex;
	padding: 10px;
}
#formContainerContainer {
  display: flex;
  align-items: center; /* Remove if you want buttons to fit 100% height of the form */
  margin-left: auto; /* Keeps form right-aligned */
}

h1 {
  margin: 0; /* Removes the default margin */
  font-size: 1.5rem; /* Adjusts the font size */
}

button {
  margin-left: 10px; /* Adds some space between buttons */
}

/* Ensure iframe adjusts accordingly */
#iframe {
  width: 100%;
  border: none;
}
