iframe {
  flex-grow: 1;
  width: 100%;
  border: none;
}
body {
  font-family: Trebuchet MS, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* Hide arrows from eNB/gNB box, copied from W3Schools */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.colorized {
  background-color: var(--accent-color)!important;
}
.poly-btn {
    border: none;
    font-weight: 700;
    transition: box-shadow 0.25s ease;
}
.poly-btn:active {
    box-shadow: inset 0 4px 8px rgba(0,0,0,0.3);
}
#submitButton:active {
  background-color: color-mix(in srgb, var(--accent-color) 90%, black)!important;
}