iframe {
  flex-grow: 1;
  width: 100%;
  border: none;
}
body {
  font-family: Trebuchet MS, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* Hide arrows from eNB/gNB box, copied from W3Schools */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}