.header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 0px;
  background-color: transparent;
}
#formsContainer {
  column-gap: 0px !important;
  justify-content: space-between; /* Spread elements across the row */
}
select,
input,
button {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0px;
  padding: 0px 5px 0px 5px;
  width: auto; /* Ensure elements fit their defined percentages */
  font-size: 0.95rem;
  height: 3.5em;
}
/* .plmn { width: 21%; }
.eNB { width: 20.375%; }
.rat { width: 15%; }
.cellList { width: 31.625%; }
.closeButton { width: 12% } */

/* New CSS 2025-05-27 */
.plmn {
  width: 25%;
}
.rat {
  width: 15%;
}
.eNB {
  width: 35%;
}
.tac {
  width: 25%;
}

.cellList {
  width: 40%;
}
.cellListDepri {
  width: 48%;
}
.closeButton {
  width: 12%;
}

#submitButton {
  width: 60%;
}
#addFormButton {
  width: 20%;
}
.hamburgerButton {
  width: 20%;
}
body {
  height: 100vh;
}

.menu {
    display: none;
    flex-direction: column;
    width: 40%;
    bottom: 53px;
    position: absolute;
}
.menu.show {
    display: flex;
}
/* Make the label and checkbox inline */
#dontCacheCheckbox {
    margin-left: 10px;
    display: flex;
    align-items: center; /* vertically center checkbox and label */
    gap: 5px; /* small space between checkbox and label */
}

#dontCacheCheckbox input[type="checkbox"] {
    margin: 0; /* remove extra default margin */
}