.header {
  background-color: #F7BEF7C0; /* ~75% opacity on #F7BEF7C0 */
  border: 0px;
  color: white;
  box-shadow: 0px 0px 5px 5px #f7bef7D9;  /* ~85% opacity on #f7bef7D9 */
}
body {
	background-color: #D7DBDD;
}