.custominput {
	height: 25px;
	width: 48.25%;
  font-size: 0.95em;
	resize: none;
	padding-bottom: 3px;
}
.status-custom-width {
	width: 6.96969%!important;
}
.carrier-custom-width {
	width: 8.25%!important;
}
.cellsite-type-custom-width {
	width: 33.25%!important;
}
label {
	font-size: 15px;
}
.dropdown {
	height: 33px;
}
.submitbutton {
	display: block;
  font-size: 0.85em;
  width: 115px;
  height: 40px;
  color: #00000
}
textarea {
  padding-top: 8px;
}
p {
	margin-top: 3px;
	margin-bottom: 3px;
}
.body {
  font-size: 1.26em;
}
output {
	font-size: 0.72em;
}
#map {
	float: right;
}
/* Margin for the page so it doesn't look squeezed, remember we turned off margin for the footer */
.body {
	margin: 8px;
}
input[type=range]
{
    width: 95px !important;
}
