p { margin-top: 3px; margin-bottom: 3px;}
output { font-size: 0.72em; }
#map { float: right; }
input[type=range] { width: 95px!important; }
label { font-size: 15px;}
.trim-id-width {width:5.65%!important;}

/* Margin for the page so it doesn't look squeezed, remember we turned off margin for the footer */
.body { font-size: 1.26em; margin: 8px; }

/*  Custom widths for the top dropbowns */
.status-custom-width { width: 6.96969%!important; }
.carrier-custom-width { width: 8.25%!important; }
.cellsite-type-custom-width { width: 25%!important; }
.concealed-custom-width { width: 8.35%!important; }
.dropdown { height: 33px; }

.ci {
	padding-top: 8px;
	padding-bottom: 3px;
	height: 25px;
	width: 48.25%;
	font-size: 0.95em;
	resize: none;
}
.submitbutton {
	display: block;
  font-size: 0.85em;
  width: 115px;
  height: 40px;
  color: #00000;
}
