.widget {
	display: inline;
  text-decoration: none!important;
}
.body::-webkit-scrollbar {
    display: none;
}
abbr[title] {
    text-decoration: none !important;
}
body {
	margin: 0px;
}
table {
	width: 100%;
}
table{
		text-align: center;
    border:0px;
    background-color:#000000;
		color: white;
			border-collapse:collapse;
}
tbody,html,body,table,p {
margin: 0px;
padding: 0px;
border: 0px;
}
td {
	line-height: 28px;
}

tr:nth-child(odd) {
  background-color: #111111;
  color: #fff;
}
tr:nth-child(even) {
  background-color: #303030;
  color: #fff;
}
input[type=button] { width: 33.3%; }
html,body {
	border: 2px solid red;
	height: 100%;
	min-height: 100%;
	box-sizing: border-box;
}
.error {
  text-decoration: none;
  color: #F78A8A!important;
}
input {
padding-top: 0.33em;
padding-bottom: 0.33em;
}
