.custominput {
	height: 22px;
	width: 32%;
  font-size: 1em;
	resize: none;
	padding-bottom: 3px;
	padding-left: 0px;
	padding-right: 0px;
}
.carrier-custom-width {
	width: 8%!important;
}
.cellsite-type-custom-width {
	width: 24%!important;
}
label {
	font-size: 17px;
}

.dropdown {
	margin-top: 0px;
	margin-bottom: 0px;
	height: 35px;
	color: #1e1f1e;
}
.submitbutton {
	display: block;
  font-size: 0.85em;
  width: 105px;
  height: 40px;
  color: #00000
}
.upbttn {
  font-size: 0.85em;
  width: 395px;
  height: 40px;
  color: #00000
}

input[type='file'] {
  color: transparent;
}

textarea {
  padding-top: 8px;
  font-size: 1em!important;
}
p {
	margin-top: 4px;
	margin-bottom: 4px;
}
body {
  font-size: 1.35em;
	font-display: swap;
	font-family: 'Regular', Fallback, sans-serif;
}
@font-face {
	font-family: 'Regular';
	src: URL('../styles/fonts/lato-Regular.ttf') format('truetype');
}
.footer {
  font-size: 1.5em;
  position: fixed;
  top: 97%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
#enbID {text-align:left; display:inline-block;}

#extraENBID a {text-decoration:none; color:#000;}}
#multipleIds {
	 display:inline-block;
}
.enbIDbox {
	display: inline-block;
}
/* footer */
html, body {
    margin: 0;
    padding: 0;
}
.footerlink {
 color: #babab8;
 font-size: 18px;
 }
footer {
	border-top: 3px solid #a6a6a4;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 3px;
  background-color: #d4d3d2;
}
#mapid {
	float: right;
}
