.custominput {
	height: 22px;
	width: 32%;
  font-size: 1em;
	resize: none;
	padding-bottom: 3px;
}
.carrier-custom-width {
	width: 8%!important;
}
.cellsite-type-custom-width {
	width: 24%!important;
}
label {
	font-size: 17px;
}
.dropdown {
	height: 35px;
}
.submitbutton {
	display: block;
  font-size: 0.85em;
  width: 105px;
  height: 40px;
  color: #00000
}
textarea {
  padding-top: 8px;
  font-size: 1em!important;
}
p {
	margin-top: 4px;
	margin-bottom: 4px;
}
body {
  font-size: 1.35em;
}
#map {
	float: right;
}
/* Margin for the page so it doesn't look squeezed, remember we turned off margin for the footer */
.body {
	margin: 8px;
}
