.fakeinput {
	height: 25px;
	width: 26%;
  font-size: 1em;
	resize: none;
	padding-bottom: 3px;
}
label {
	font-size: 19px;
}

.dropdown {
	margin-top: 0px;
	margin-bottom: 0px;
	height: 40px;
	width: 481px;
	color: #1e1f1e;
}
.submitbutton {
	display: block;
  font-size: 0.85em;
  width: 105px;
  height: 45px;
  color: #00000
}
.upbttn {
  font-size: 0.85em;
  width: 395px;
  height: 45px;
  color: #00000
}

input[type='file'] {
  color: transparent;
}

textarea {
  padding-top: 10px;
  font-size: 1em!important;
}
p {
	margin-top: 6px;
	margin-bottom: 6px;
}
body {
  font-size: 1.44em;
	font-display: swap;
	font-family: 'Regular', Fallback, sans-serif;
}
@font-face {
	font-family: 'Regular';
	src: URL('../font/lato-Regular.ttf') format('truetype');
}
.footer {
  font-size: 1.5em;
  position: fixed;
  top: 97%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
#enbID {text-align:left; display:inline-block;}

#extraENBID a {text-decoration:none; color:#000;}}
#multipleIds {
	 display:inline-block;
}
.enbIDbox {
	display: inline-block;
}
