.custominput {
	height: 25px;
	width: 100%;
	resize: none;
  font-size: 1em;
}
.dropdown {
	height: 35px;
	width: 100%;
}
.submitbutton {
	display: block;
  font-size: 0.85em;
  width: 105px;
  height: 45px;
  color: #00000
}
textarea {
  padding-top: 10px;
  font-size: 1em!important;
}
p {
	margin-top: 6px;
	margin-bottom: 6px;
}
body {
  font-size: 1.1em;
}
#map {
	padding-bottom: 12px;
}
/* Margin for the page so it doesn't look squeezed, remember we turned off margin for the footer */
.body {
	margin: 5px;
}
.carrier-custom-width {
	width: 32.25%!important;
}
.cellsite-type-custom-width {
	width: 66.25%!important;
}
