.custominput {
	height: 30px;
	width: 480px;
  font-size: 1em;
	resize: none;
}
.dropdown {
	margin-top: 0px;
	margin-bottom: 0px;
	height: 40px;
	width: 485px;
	color: #1e1f1e;
}
.submitbutton {
	display: block;
  font-size: 0.85em;
  width: 105px;
  height: 45px;
  color: #00000
}
textarea {
  padding-top: 10px;
  font-size: 1em!important;
}
p {
	margin-top: 6px;
	margin-bottom: 6px;
}
body {
  font-size: 1.5em;
	font-display: swap;
}
.footer_link {
  font-size: 1.5em;
  position: fixed;
  top: 97%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
