.custominput {
	height: 40px;
	width: 100%;
	max-width: 70%;
  font-size: 1em;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.dropdown {
	margin-top: 0px;
	margin-bottom: 0px;
	height: 40px;
	width: 100%;
	max-width: 70%;
	color: #1e1f1e;
}
label {
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	text-align: left;
	max-width: 30%;
}
form {
    display: block;
    margin-top: 0em;
}
.latlong {
	width: 100%;
	max-width: 35%;
}
.small-text {
	font-size: 0.86em;
}
