.custominput {
	height: 38px;
	width: 100%;
	max-width: 73%;
  font-size: 0.9em;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.dropdown {
	margin-top: 0px;
	margin-bottom: 0px;
	height: 40px;
	width: 100%;
	max-width: 73%;
}
.label {
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	text-align: left;
	font-size: 0.9em;
	max-width: 27%;
}
form {
    display: block;
    margin-top: 0em;
}
.latlong {
	width: 100%;
	max-width: 36.5%;
}
.small-text {
	font-size: 0.86em;
}
input[name="city"] {
  width: 19%;
}
input[name="zip"] {
  width: 11%;
}
input[name="state"] {
  width: 18%;
}
input[name="address"] {
  width: 25%;
}
.wrapper-73 {
	width: 73%;
	display: inline-block;
	text-align: left;
}
body {
	margin: 3px;
	padding: 0px;
}
