.custominput {
	height: 38px;
	width: 100%;
	max-width: 100%;
  font-size: 0.9em;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
}
.dropdown {
	margin-top: 0px;
	margin-bottom: 0px;
	height: 40px;
	width: 100%;
}
.label {
	display: inline-block;
	margin: 0 auto;
	width: 100%;
	text-align: left;
	font-size: 0.9em;
	max-width: 27%;
}
form {
    display: block;
    margin-top: 0em;
}
.latlong {
	width: 100%;
	max-width: 36.5%;
}
.small-text {
	font-size: 0.86em;
}
input[name="city"] {
  width: 25%;
}
input[name="zip"] {
  width: 13%;
}
input[name="state"] {
  width: 22%;
}
input[name="address"] {
  width: 40%;
}
/* .wrapper-73 {
	width: 73%;
	display: inline-block;
	text-align: left;
} */
body {
	margin: 3px;
	padding: 0px;
}

.height38 {
	height: 38px;
}
.w-75 { max-width: 75%;}
.w-25 { max-width: 25%;}
.w-23 { max-width: 23%;}
.w-20 { max-width: 20%;}
.w-32 { max-width: 32%;}
