button {
 border: 1px solid #2D2C2C!important;  /* really dark black border */
 background-color: #111111; /* background color for inputs */
 color: #FAFAFA; /* text color for inputs */
}
#purge-modal-overlay {
    background-color: rgba(0, 0, 0, 0.25);
}

#purge-modal {
    background-color: #000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.55); 
}
