.header input, .header select, .header button {
  height: 40px; /* Set consistent height */
  margin-left: 4px;
  margin-right: 4px;
  padding: 8px;
}
.checkbox-container {
    display: inline;
}
#requestBatchSize {
  width: 190px;
}
#viewMode {
  width: 170px;
}
#Plmn {
  width: 140px;
}
#Rat {
  width: 95px;
}

.adv-filter {
  width: 265px;
  margin-bottom: 8px;
}
#hamburger-menu {
    width: 40px;
    height: 40px;
}
#hamburger-area {
    margin: 12px 6px 2px 12px;
}
#guiMapToggle {
  float: left;
  margin-left: -5px;
}
