#plmn {
  width: 31%;
}
#rat {
  width: 22%;
}
#view_mode {
  width: 35%;
}
#hamburger-menu {
  width: 12%;
}
/* "Disable" some performance impacting settings on mobile */
#request_batch_size {
  display: none;
}

/* The shared black background for both checkboxes */
.checkbox-container {
    background-color: #000;
    display: flex;
    align-items: center;
    flex-grow: 1;         /* Fills the remaining space in the row */
    padding-left: 4px;    /* Internal room to the left of the first box */
    gap: 12px;            /* Space between the "Labels" group and "No Unload" group */
    /* justify-content: unset!important; */
}

/* Individual checkbox + text styling */
.checkbox-group {
    display: inline-flex;
    align-items: center;
    gap: 5px;            /* Space between the actual box and its text */
    white-space: nowrap;
    color: white;
    cursor: pointer;
    font-size: 13px;
    box-sizing: border-box;
}

/* Keep the main container clean */
#formsContainer {
    display: flex;
    flex-wrap: wrap;       /* Allows the whole bar to wrap on mobile */
    align-items: center;
    background-color: black;
}
.header input, .header select, .header button {
  padding: 0px;
  margin: 0px;
  height: 3.05em!important;
}
.adv-filter {
  padding-right: 0px;
}
.adv-filter:nth-child(odd) {
  width: 47%;
}
.adv-filter:nth-child(even) {
  width: 53%;
}
.adv-filter-33 {
  width: 33.33333333%;
}

.header label,#guiMapToggle {
  display: none;
}

#hamburger-area {
    width: 100%;
    padding: 0;
    margin: 0;

}
.adv-filter-textbox::placeholder {
  font-size: 0.88em;
}
.chip-btn {
      margin: 0 0px 0 0 !important;
      padding: 8px 4px 8px 4px!important;
}
.chip-btn::before {
      left: 3px; /* Stick it to the left edge */
}
#PERFECTSURRO,#DECOMMISSIONED,#COW {
  display: none;
}

#chipContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        width: 100%;
}
#chipContainer .chip-btn {
    flex: 1 1 auto;
    text-align: center;
    box-sizing: border-box;
}
#cm_filters br {
    display: none;
}