/*STOLEN FROM FINDLATER DB*/
table {
	border-collapse: collapse;
	border-spacing:0;
	padding:0;
}
td {
  width: auto;
  max-width: auto;
  vertical-align: top;
  padding: 0px;
  padding-top:4px;
}
label {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: inherit;
  text-align: left;
}
input[type=text] {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}

.hide-underline {
	   text-decoration: none;
}
#panel1 {
 width: 40%;
 float: left;
}
#panel2 {
  width: 40%;
  float: left;
}
#panel3 {
  width: 20%;
  float: right;
}
input[type=submit] {
  font-size: 5em;
  width: 100%;
  padding-top: 400px;
  padding-bottom: 400px;
  margin: 0 auto;
}
.container {
  ...
  position: relative;
}
