.stat-box {
    border: 3px solid var(--accent-color)!important; /* add accent color to border */
    box-shadow: 0 0 15px var(--accent-color); /* add box-shadow*/
    color: #D3D3D3;
    background-color: #1a1a1a;
}
.stat-box:hover {
    box-shadow: 0 0 22px var(--accent-color); /* add box-shadow*/
}
.stat-box h3 {
    color: #f0f0f0;
}
footer {
    border-top: 2px solid #2D2C2C;
    background-color: #111111;
}