body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 0.9em;
    max-width: calc(100vw - 35px); /* Set a maximum width for the entire content with 50px on either side */
    margin: 0 auto; /* Center the content */
}

.statistics-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Split into 5 columns */
    gap: 20px; /* Adjust gap as needed */
}

.statistics-container {
    margin-top: 5px;
    margin-bottom: 35px;
}

.stat-box {
    width: 90%;
    min-height: 280px;
    height: 100%;
    padding: 15px;
    border-radius: 18px;
    position: relative; /* lets box-shadow overlap other elements */
    outline: none !important; /* remove boring outline */
}

.stat-box h3 {
    font-size: 1.5em;
    margin-bottom: 12px;
    margin-top: 3px;
    padding-top: 0px;
}
a {
    font-weight: 600;
}
h3 {
    padding-top: 15px;
}

.bottomlink {
    position: absolute;
    bottom: 0;
    left: 4%; /* Align at the center horizontally */
    margin-bottom: 11px;
}
.footerlinks {
    bottom: 0px;
    position: absolute;
    margin-bottom: 12px;
}