body {
    margin: 0;
    padding: 0;
    font-size: 0.88em;
    max-width: calc(100vw - 25px);
    margin-left: 12px;
}

.statistics-wrapper {
    display: grid;
    margin-bottom: 55px;
    gap: 20px; /* Adjust gap as needed */
}

.statistics-container {
    margin-top: 5px;
    margin-bottom: 30px;
}

.stat-box {
    width: 90%;
    min-height: 280px;
    height: 100%;
    padding: 14px;
    border-radius: 18px;
    position: relative; /* lets box-shadow overlap other elements */
    outline: none !important; /* remove boring outline */
}

.stat-box h3 {
    font-size: 1.47em;
    margin-bottom: 12px;
    margin-top: 3px;
    padding-top: 0px;
}
.stat-box a {
    font-weight: 600;
}
h3 {
    padding-top: 15px;
}

.bottomlink {
    position: absolute;
    bottom: 0;
    left: 4%; /* Align at the center horizontally */
    margin-bottom: 11px;
}
#divider {
    border-right: 1px solid white;
    padding-left: 19px;
    font-size: 16px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 6px;
    padding-top: 2px;
  }
footer a {
   font-size: 18px!important;
   padding-left: 19px;
   color: #8ab4f8!important; 
}
  