body {
	margin: 0px;
	margin-top: 3px;
}
label {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.93em;
}
textarea {
	display: block;
}
input[type=text],input[type=search],input[type=number],option,select {
    height: 34px;
		padding: 4px;
		margin: 0px;
		font-size: 0.78em;
		width: 100%;
}
@media (min-width:1871px) {
/* Panels (split page in half) */
.panel1 { width: var(--cmgm_edit_panel1_width); float: left; }
.panel2 { width: var(--cmgm_edit_panel2_width); float: right; }
}
._panel1 { width: 33.3333%; float: left;  }
._panel2 { width: 33.3333%; float: left; }
._panel3 { width: 33.3333%; float: right; }
div[class^="_panel"] label {
  font-size: 0.9em;
	white-space: nowrap;
}

/* Size for dropdowns and remove text decoration on abbr for widget & ev abbr */
.status_cw, .concealed_cw, .carrier_cw, .cellsite_type_cw,option {font-size: 1.1em;}
abbr, .nounderline {text-decoration: none!important;}
.sb {
  font-size: 2.5em;
  width: var(--cmgm_edit_panel1_width);
  padding: 37px;
}
.id_input {
	font-size: 1.6em!important;
	height: 70px!important;
	width: 12em!important;
	padding: 2px;
	margin: 0px;
}
.small-sb {
	font-size: 1.6em;
	height: 70px;
	padding: 12px;
	margin: 0px;
}
.floatright,.floatright-desktop {
	float: right;
}
::placeholder {
  font-size: 1em;
}

/* Left Side Menu*/
.cellsite_type_label, .tags_label, .id_params_label, .lte_nr_label, .addr_label, .latitude_longitude_label, .pci_label, .sv_label, .misc_label {
	margin-left: 4px;
	width: calc(18% - 4px)!important; width: 100%;
	float: left;
}
.region_cw { float: left;}
.nr_cw_dish { max-width: 27.333%!important;}
.nr_region_dish { max-width: 20.5%!important;}
.nr_cw { max-width: 6.8333%; float: left}
.status_cw, .concealed_cw, .carrier_cw, .cellsite_type_cw, .id_params_cw {max-width: 20.5%!important;}
.addr_address_cw, .addr_city_cw { max-width: 20.495%!important; }
.region_cw, .latitude_cw, .longitude_cw {max-width: 10.25%;}
.addr_state_cw { max-width: 3.54%;}
.addr_zip_cw { max-width: 4.731%;}
.addr_county_cw { max-width: 12.234%;}
.misc_50_cw,.misc_39_cw {width: 16.4%!important;}
.misc_cw[name="cm_pin_distance"],.misc_cw[name="split_sector"],.misc_cw[name="cm_pin_inverted"],.misc_cw[name="special_setup"] {
	width: 13.667%;
}
.misc_cw[name="sector_configuration"] {
	width: 27.3333%;
}
.pci_cw, .lte_cw {width: 6.8333%!important; float: left;}
.sv_cw {max-width: 22.6673%; }
.sv_date_cw {max-width: 4.666%;}
.tags_cw {max-width: 54.666%!important; float: left;}
.site_id_cw {max-width: 27.334%!important; }
.sv1_label {max-width: 50%!important;}
.sv2_label {max-width: 50%!important; float: right;}
/* Right Side Menu */
.evidence_label, .extra_label, .photo_label, .bingmaps_label {
	margin-left: 4px;
	width: calc(16% - 4px)!important;
}
.evidence_scores_label {
	margin-left: 4px;
	width: calc(78% - 4px)!important;
}
.photo_cw, .evidence_cw, .extra_cw, .bingmaps_cw {
	width:28%!important;
}
.evidence_scores_cw {
	width: 22%!important;
}

.pad-small-link {margin: 0em 0.25em 0em 0em; padding: 0.08em 0.1em 0.08em 0.2em; text-align: right; font-size: 1.07em; display:inline}

/* WIDGET AND NO TEXT DECORAITON!!! */
.widget {
	font-size: 34px;
	text-decoration: none!important;
}
a[href^="?id="] {
	display: inline-block;
	padding-bottom: 10px;
}
#edit_utilitiy_holder {	
	width: var(--cmgm_edit_panel1_width); 
	max-width: 100%; 
	padding-left: 10px;
}
#widgets {
	float: right;
}

.latitude_longitude_label > span > a {
	padding: 5px;
}
.edit_history_compact,.notes_compact {width: 50%!important;}