body {
	margin: 6px;
	margin-top: 3px;
}
label {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}
input[type=text],input[type=search],input[type=number],option,select {
    height: 34px;
		padding: 4px;
		margin: 0px;
		border: 1px solid;

}

@media (min-width:1599px) {
/* Panels (split page in half) */
.panel1 { width: 49.93%; float: left; }
.panel2 { width: 49.93%; float: right; }
._panel1 { width: 33%; float: left; padding-right: 0.5%; }
._panel2 { width: 33%; float: left; padding-right: 0.5%; }
._panel3 { width: 33%; float: right; }
}
/* Size for dropdowns and remove text decoration on abbr for widget & ev abbr */
option,select {font-size: 1.1em;}
abbr {text-decoration: none!important;}
.sb {
  font-size: 3em;
  width: 100%;
  padding: 60px;
}
.warning {
	font-size: 1.15em;
}
.id_input {
	font-size: 1.6em;
	height: 73px!important;
	padding: 2px;
	margin: 0px;
}
.small-sb {
	font-size: 1.6em;
	height: 73px;
	padding: 12px;
	margin: 0px;
}
.sub_links {
	float: right;
}

/* Cellsite type info dropdowns */  /* LABEL */
.cellsite_type_label {max-width: 25%; width: 100%}
/* Cellsite type info dropdowns */  /* DROPDOWN */
.status_cw {max-width: 18.33%!important; width: 100%}
.concealed_cw {max-width: 18.33%!important; width: 100%}
.carrier_cw {max-width: 18.33%!important; width: 100%}
.cellsite_type_cw {max-width: 20%!important; width: 100%}

/* Cellsite location latitude - longitude */  /* LABEL */
.latitude_longitude_label {max-width: 25%; width: 100%}
/* Cellsite location latitude - longitude */  /* TEXTBOX */
.latitude_cw { width: 36.66%!important; }
.longitude_cw { width: 38.34%!important; }
/* Cellsite location latitude - longitude */  /* LINK */
.latitude_longitude_link { float: right; }

/* Address boxes */  /* LABEL */
.addr_label {max-width: 25%; width: 100%}
/* Address boxes */  /* TEXTBOX */
.addr_address_cw { max-width: 36.66%!important; width: 100%}
.addr_city_cw { max-width: 22%!important; width: 100%}
.addr_state_cw { max-width: 8.75%!important; width: 100%}
.addr_zip_cw { max-width: 7.59%!important; width: 100%}
/* ADDRESS BOXES */ /* LINK */
.addr_link { float: right; }

/* LTE/NR ids */  /* LABEL */
.lte_nr_label {max-width: 25%; width: 100%}
/* LTE/NR ids */  /* TEXTBOXES */
.lte_cw {width: 9.1666%!important;}
.nr_cw {width: 10%!important;}

/* PCIs  */  /* LABEL */
.pci_label {max-width: 25%; width: 100%}
/* PCIs */  /* TEXTBOXES */
.pci_cw {width: 5.35714285714%!important;}



/* ID Params (pci match, sector match, etc) */  /* LABEL */
.id_params_label {max-width: 25%; width: 100%}
/* ID Params (pci match, sector match, etc) */  /* TEXTBOX */
.id_params_cw {max-width: 18.33%!important; width: 100%; font-size: 0.8em; margin: 0px; padding: 0px;}
.id_params_cw_longer {max-width: 20%!important; width: 100%; font-size: 0.8em; margin: 0px; padding: 0px;}

/* STREET VIEW URL */  /* LABEL */
.street_view_label {max-width: 25%; width: 100%}
/* STREET VIEW URL */  /* TEXTBOX */
.street_view_cw {max-width: 19.5%; width: 100%; font-size: 0.80em;}
.street_view_date_cw {max-width: 5.5%; width: 100%; font-size: 0.80em;}

/* Tags */  /* LABEL */
.tags_label {max-width: 25%; width: 100%}
/* Tags */  /* TEXTBOX */
.tags_cw {max-width: 75%!important; width: 100%;}

/* Photo / Evidence / Attached */  /* LABEL */
.photo_label {width:16%!important; }
.evidence_label {width:16%!important; }
.extra_label {width:16%!important; }
/* Photo / Evidence / Attached */  /* TEXTBOX */
.photo_cw {width:28%!important;}
.evidence_cw {width:28%!important;}
.extra_cw {width:28%!important;}

/* Evidence labels, (permit score, trails match, etc) */  /* LABEL */
.evidence_scores_label {width:78%!important;}
/* Evidence labels, (permit score, trails match, etc) */  /* TEXTBOXES */
.evidence_scores_cw {width: 22%!important;}

/* PADDING TO MAKE THE PHOTO/ATTACHED/EVIDENCE links easier to click */
.pad-small-link {padding-left: 4px; padding-right: 4px; text-align: right; font-size: 1.08em; }

/* WIDGET AND NO TEXT DECORAITON!!! */
.widget {
	font-size: 34px;
	text-decoration: none!important;
}
a[href^="?id="] {
	display: inline-block;
	padding-bottom: 10px;
}
@media (max-width: 2560px) and (min-width: 1921px) { .edit_utilitiy_holder {	width: 16%;} }
@media (max-width: 2559px) and (min-width: 1920px) { .edit_utilitiy_holder {	width: 22%;} }
@media (max-width: 1919px) and (min-width: 1441px) { .edit_utilitiy_holder {	width: 25%;} }
@media (max-width: 1440px) and (min-width: 1000px) { .edit_utilitiy_holder {	width: 31%;} }
@media (max-width: 100px) and (min-width: 1439px)  { .edit_utilitiy_holder {	width: 38%;} }
