body {
	margin: 6px;
	margin-top: 3px;
}
label {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
}
input[type=text],input[type=number],option,select {
    height: 34px;
		padding: 4px;
		margin: 0px;
		border: 1px solid;
}
@media (min-width:1700px) {
/* Panels (split page in half) */
.panel1 { width: 49.93%; float: left; }
.panel2 { width: 49.93%; float: right; }
}
/* Size for dropdowns and remove text decoration on abbr for widget & ev abbr */
option,select {font-size: 1.1em;}
abbr {text-decoration: none!important;}
.submitbutton {
  font-size: 3em;
  width: 100%;
  padding: 60px;
}
.warning {
	font-size: 1.15em;
}
.id_input {
	font-size: 1.6em;
	height: 73px!important;
	padding: 2px;
	margin: 0px;
}
.small-submitbutton {
	font-size: 1.6em;
	height: 73px;
	width: 120px;
	padding: 2px;
	margin: 0px;
}

/* Cellsite type info dropdowns */  /* LABEL */
.cellsite_type_label {max-width: 25%; width: 100%}
/* Cellsite type info dropdowns */  /* DROPDOWN */
.cellsite_type_cw {max-width: 18.75%!important; width: 100%}
.concealed_cw {max-width: 18.75%!important; width: 100%}
.carrier_cw {max-width: 18.75%!important; width: 100%}
.status_cw {max-width: 18.75%!important; width: 100%}

/* Cellsite location latitude - longitude */  /* LABEL */
.latitude_longitude_label {max-width: 25%; width: 100%}
/* Cellsite location latitude - longitude */  /* TEXTBOX */
.latitude_longitude_cw { width: 37.5%!important; }

/* Address boxes */  /* LABEL */
.addr_label {max-width: 25%; width: 100%}
/* Address boxes */  /* TEXTBOX */
.addr_address_cw { max-width: 34%!important; width: 100%}
.addr_city_cw { max-width: 22%!important; width: 100%}
.addr_state_cw { max-width: 8.75%!important; width: 100%}
.addr_zip_cw { max-width: 10.25%!important; width: 100%}

/* LTE/NR ids */  /* LABEL */
.lte_nr_label {max-width: 25%; width: 100%}
/* LTE/NR ids */  /* TEXTBOXES */
.lte_nr_cw {width: 9.375%!important;}


/* ID Params (pci match, sector match, etc) */  /* LABEL */
.id_params_label {max-width: 25%; width: 100%}
/* ID Params (pci match, sector match, etc) */  /* TEXTBOX */
.id_params_cw {max-width: 75%!important; width: 100%;}

/* STREET VIEW URL */  /* LABEL */
.street_view_url_label {max-width: 25%; width: 100%}
/* STREET VIEW URL */  /* TEXTBOX */
.street_view_url_cw {max-width: 18.75%; width: 100%; font-size: 0.80em;}

/* Tags */  /* LABEL */
.tags_label {max-width: 25%; width: 100%}
/* Tags */  /* TEXTBOX */
.tags_cw {max-width: 75%!important; width: 100%;}

/* Photo / Evidence / Attached */  /* LABEL */
.photo_label {width:14%!important; font-size: 0.95em;}
.evidence_label {width: 14%!important; font-size: 0.95em;}
.extra_label {width:14%!important; font-size: 0.95em;}
/* Photo / Evidence / Attached */  /* TEXTBOX */
.photo_cw {width:28.6666%!important;}
.evidence_cw {width:28.6666%!important;}
.extra_cw {width:28.6666%!important;}

/* Evidence labels, (permit score, trails match, etc) */  /* LABEL */
.evidence_scores_label {width:80%!important;}
/* Evidence labels, (permit score, trails match, etc) */  /* TEXTBOXES */
.evidence_scores_cw {width: 20%!important;}

/* PADDING TO MAKE THE PHOTO/ATTACHED/EVIDENCE links easier to click */
.pad-small-link {padding-left: 4px; padding-right: 4px; text-align: right; font-size: 1.1em; }

/* WIDGET AND NO TEXT DECORAITON!!! */
.widget {
	font-size: 40px;
	text-decoration: none!important;
}
a[href^="?id="] {
	display: inline-block;
	padding-bottom: 10px;
}
