.inline-block,.ib {display:inline-block; }
.notes,.edit_history {width:100%; height: 100%; resize: none;}
.notes-compact,.edit_history {width:100%; resize: none;}
.flex {display: flex;}
input[type=text],input[type=number],option,select,.notes,.edit_history  {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-appearance: none;
}
.d-none {
	display: none;
}
.error {
  text-decoration: none;
  color: #F78A8A!important;
}
.warning {
  text-decoration: underline;
  color: #F4F489!important;
}
.warning2 {
  text-decoration: none;
  color: #F4F489!important;
}
.map_holder {
	float: right;
}

/* Copied from W3Schools - Remove up/down buttons in input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
