.inline-block {display:inline-block; }
.bio,.edit_history {width:100%; resize: none;}
input[type=text],option,select,.bio {
		box-sizing: border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing: border-box;
}
.error {
  text-decoration: none;
  color: red;
}
.widget_holder {
	float: right;
}
