body {
	margin: 3px;
	padding: 0px;
}
label {
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
  min-width: inherit;
  text-align: left;
	font-size: 0.82em;
	width: 100%;
}
input[type=text],input[type=search],input[type=number],select {
    width: 100%;
    height: 31px;
		border-radius: 0px;
		border-width: 1px;
		border-style:solid;
}
.sb {
  font-size: 2em;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 auto;
}
.small-sb {
  font-size: 1.3em;
  width: 50%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 auto;
}
.id_input {
	width: 100%!important;
	height: 2cm!important;
	font-size: 2em!important;
}
.floatright {
	float: right;
	margin-right: 0.8em;
}

#addr_gmaps {display: none;}
#latlong_cmlink {display: none;}
/* Left Side Menu*/
.cellsite_type_label, .id_params_label, .lte_nr_label, .addr_label, .latitude_longitude_label, .pci_label {
	display: none;
}
.sv_label { width: 100%;}
.status_cw { max-width: 25%;} .concealed_cw { max-width: 27%;} .carrier_cw { max-width: 23%;} .cellsite_type_cw { max-width: 25%;}
.region_cw, .addr_state_cw, .addr_zip_cw, .nr_cw, .lte_cw  {max-width: 20%;}
.latitude_cw, .longitude_cw {max-width: 50%;}
.pci_cw {max-width: 12.5%;}
.addr_address_cw {max-width: 50%;} .addr_city_cw {max-width: 30%;} .addr_state_cw {max-width: 8%;} .addr_zip_cw {max-width: 12%;}
.sv_cw {max-width: 86%; }
.sv_date_cw {max-width: 14%;}
.tags_label {max-width: 35%} .tags_cw {max-width: 65%; }
.id_params_cw { max-width: 50%;}
/* Right Side Menu */
.evidence_label, .extra_label, .photo_label, .photo_cw, .evidence_cw, .extra_cw {
	width:100%!important;
}
.evidence_scores_label {
	width:78%!important;
}
.evidence_scores_cw {
	width: 22%!important;
}
select {
	margin: 0px;
	border-radius: 0px;
	border-width: 1px;
}

/* WIDGET AND NO TEXT DECORAITON!!! */
.widget {
  font-size: 18px;
  margin-left: 12px;
  margin-right: 12px;
  text-decoration: none;
}
abbr {
	text-decoration: none!important;
}
.map_holder {
	width: 100%;
}
/* PADDING TO MAKE THE PHOTO/ATTACHED/EVIDENCE links easier to click */
.pad-small-link-mobile {margin: 0em 1.45em 0em 0em; padding: 0.45em 0.8em 0.36em 0.8em; float: none!important; text-align: right;}
