body {
	margin: 3px;
	padding: 0px;
}
label {
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 3px;
  min-width: inherit;
  text-align: left;
	font-size: 0.83em;
}
input[type=text],input[type=number],select {
    width: 100%;
    height: 25px;
		border-radius: 0px;
		border-width: 1px;
		border-color: lightgrey;
		border-style:solid;

}
.submitbutton {
  font-size: 2em;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 auto;
}
.id_input {
	width: 100%!important;
	height: 1.5cm!important;
}
.addr_label {display: none;}
.latitude_longitude_label {display: none;}
.lte_nr_label { display: none; }

/* Address boxes */  /* TEXTBOX */
.addr_address_cw { width: 50%!important; }
.addr_city_cw { width: 24%!important; }
.addr_state_cw { width: 11%!important; }
.addr_zip_cw { width: 15%!important; }

/* Cellsite location latitude - longitude */  /* TEXTBOX */
.latitude_longitude_cw { width: 50%!important; }

/* Cellsite type info dropdowns */  /* LABEL */
.cellsite_type_label {display: none;}
/* Cellsite type info dropdowns */  /* DROPDOWN */
.status_cw {width: 21%!important; }
.concealed_cw {width: 24%!important;}
.cellsite_type_cw {width: 34%!important;}
.carrier_cw {width: 21%!important; }

.street_view_url_label {max-width: 100%; width: 100%}
.street_view_url_cw {max-width: 50%; width: 100%; font-size: 0.75em;}

/* Custom styling to make everything fit on one line */
.status_cw,.concealed_cw,.cellsite_type_cw,.carrier_cw {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding: 3px 0px 4px 2px;
		border-color: #dbdbdb;
		background-color: #dbdbdb;
}
select {
	background-color: #fff;
	margin: 0px;
	border-radius: 0px;
	border-width: 1px;
}
/* ID Params (pci match, sector match, etc) */  /* LABEL */
.id_params_label {width: 50%!important;}
/* ID Params (pci match, sector match, etc) */  /* CHECKBOXES */
.id_params_cw {width: 50%!important;}

/* Evidence labels, (permit score, trails match, etc) */  /* LABEL */
.evidence_scores_label {width: 80%!important;}
/* Evidence labels, (permit score, trails match, etc) */  /* TEXTBOXES */
.evidence_scores_cw {width: 20%!important;}

/* LTE/NR ids */  /* TEXTBOXES */
.lte_nr_cw { width: 25%!important; }

/* PADDING TO MAKE THE PHOTO/ATTACHED/EVIDENCE links easier to click */
.pad-small-link {padding-left: 20px; padding-right: 20px; text-align: right}

/* Tags */  /* LABEL */
.tags_label {width: 16%!important;}
/* Tags */  /* TEXTBOX */
.tags_cw {width: 84%!important;}

.edit_history {font-size: 0.6em;}

/* WIDGET AND NO TEXT DECORAITON!!! */
.widget {
  font-size: 22px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}
abbr {
	text-decoration: none!important;
}
