.submitbutton {
  width: 40%;
  padding: 12px;
  font-size: 3em;
}
.width-80 {
  width: 28%!important;
}
.width-75 {
  width: 26.25%!important;
}
.width-60 {
  width: 21%!important;
}
.width-50 {
  width: 17.5%!important;
}
.width-25 {
  width: 8.75%!important;
}
.width-20 {
  width: 7%!important;
}
