.submitbutton {
  padding: 12px;
  font-size: 3em;
}
.textbox {
  padding: 12px;
  font-size: 2.25em;
}
.buttons {
  margin:0 auto;
  text-align: center;
  width: 100%; max-width: 25cm;
}
.width-75 {
width: 100%;
max-width: 75%;
}
.width-50 {
width: 100%;
max-width: 50%;
}
.width-25 {
width: 100%;
max-width: 25%;
}
.width-100 {
  width: 100%;
  max-width: 100%;
}
